.header__lang-link {
  display: flex;
  color: #FFFFFF;
  margin: 0;
  transition: .5s linear;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75px;
  text-decoration: none;
}
.header__lang-link:last-of-type {
  margin-left: 18px;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
