.lead__caption {
  margin: 0;
  margin-top: 8px;
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 1.5px;
}
